<%- include('./partial/hader.ejs') %>
    <%- include('./partial/sidebar.ejs') %>
        <div class="right" style="width: 80%;">
            <div class="photo center" style=" height: 40%;">
                <img style="width: 22%;height : 65%;margin-top: 20Px; border: 3px solid  white; box-shadow: 2px 2px 4px white ;" src="images/photo.jpg " alt=" ">
            </div>
            <div class="other " style="height: 60%;">
                <!-- <pre style="background-color: aqua;     font-family:'Satisfy', cursive ; color: white;"><h2>   Hello,</h2> <pre> -->
                <h2 style="color:  white;font-family: 'Satisfy', cursive ; margin-left: 30px;"> Hello,</h2>
                <pre style="color: white; font-size: 15px;font-family: 'Ubuntu', sans-serif; ;">
                                I am <span class="fontstyle">Rahul Rajput</span> having 5 years of full-stack development experience for global buisness, I offer the technical experties you are 
            seeking for your web developer positon.

            Since earning my bachelor's degree in internet and web development from Chitkara University, I have served as a web developer at <span class="fontstyle">Microsoft</span> 
            one of the bigest tech companies in the world. In this positon, I have led web development projects for company.Developed a full-stack
            e-commerce web application using React, Node.js, and MongoDB that allows customers to browse and purchase products, manage their 
            orders, and leave reviews.

            Contributed to the development of an internal CRM application at Microsoft using React and .NET that allows employees to manage customer
            relationships and track sales data
                </pre>
            </div>
        </div>
        </section>
        <%- include('./partial/footer.ejs') %>