<%- include('./partial/hader.ejs') %>
    <%- include('./partial/sidebar.ejs') %>
        <div style="width: 80%;">
            <div style="display: block; height: 15%;border-bottom: 2px solid white;">
                <h1 style="color:rgb(251, 163, 10);padding-top: 30px;padding-left: 20px;">SERVICES AND WORKING HYY FROM DEVANSH</h1>
            </div>
            <div style="height: 85%;">
                <div style="height: 33.33%;display: flex;">
                    <div style="width: 33.33%; height: 100%;">
                        <i class="fa-solid fa-magnifying-glass-dollar iconstyle"></i>
                        <h4 class="center" style="color: white;">SEO</h4>
                        <pre class="center" style="color: rgb(255, 255, 255) ;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">     SEO is to increase organic traffic to a website 
            by improving its relevance, authority,
                    and user experience.</pre>
                    </div>
                    <div style="width: 33.33%;height: 100%;">
                        <i class="fa-solid fa-palette iconstyle"></i>
                        <h4 class="center" style="color: white;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Web Design</h4>
                        <pre class="center" style="color: white;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">         Web design emphasizes creating a user-friendly 
              and intuitive experience for website visitors,
                    with a focus on usability, accessibility</pre>
                    </div>
                    <div style="width: 33.33%;height: 100%;">
                        <i class="fa-solid fa-code iconstyle"></i>
                        <h4 class="center" style="color: white;">Web development</h4>
                        <pre class="center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: white;">
        We make fully responsive websites using high level
                and trending technologies. We focus on 
                the user experience about website most.
                        </pre>
                    </div>
                </div>
                <div style="height: 33.33%; display: flex;">
                    <div style="width: 33.33%;height: 100%; ">
                        <i class="fa-brands fa-android iconstyle"></i>
                        <h4 class="center" style="color: white;">Android</h4>
                        <pre style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="center">
We make great interface and smoothly run
android apps. Along with it we provide 
high level data security of user in app 
                        </pre>
                    </div>
                    <div style="width: 33.33%;height: 100%;">
                        <i class="fa-brands fa-apple iconstyle"></i>
                        <h4 class="center" style="color: white;">ios</h4>
                        <pre style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="center">
We make great interface and smoothly run
ios apps. Along with it we provide 
high level data security of user in app 
</pre>
                    </div>
                    <div style="width: 33.33%;height: 100%;">
                        <i class="fa-solid fa-rectangle-ad iconstyle"></i>
                        <h4 class="center" style="color: white;">Advertising</h4>
                        <pre class="center" style="color: white;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
We do advertising through various social
   media platforms by making videos,
     templates releate to the thing.
                        </pre>
                    </div>
                </div>


                <div style="width: 100%; height: 30%;; display: flex;">
                    <div style="width: 33.33%;">
                        <i class="fa-solid fa-pen-to-square iconstyle"></i>
                        <h4 class="center" style="color: white;">Logo Design</h4>
                        <pre class="center" style="color: white;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
We design creative logos which
    could show the brand.
                       </pre>
                    </div>
                    <div style="width: 33.33%;height: 100%;">
                        <i class="fa-solid fa-database iconstyle"></i>
                        <h4 class="center" style="color: white;">Hosting</h4>
                        <pre class="center" style="color: white;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
We host the websites and launch them,
        with suitable domain names
</pre>
                    </div>
                    <div style="width: 33.33%;height: 100%;">
                        <i class="fa-solid fa-headset iconstyle"></i>
                        <h4 class="center" style="color:  white;">Support</h4>
                        <pre class="center" style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
We provied 24x7 customer support facility,
            with our best employees                            
                        </pre>
                    </div>
                </div>
            </div>
            <!-- </div> -->
            <%- include('./partial/footer.ejs') %>
                <!-- </div>
            <%- include('./partial/footer.ejs') %> -->
